/* Мобільна версія */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    text-align: center;
  }
  .footer-left {
    margin: 10px 0;
    text-align: center;
  }
  .footer-right {
    margin: 10px 0;
    text-align: center;
  }
  .footer-center {
    margin: 10px 0;
    text-align: center;
    order: -1;
  }
  .footer {
    height: 300px;
    padding: 20px;
  }
  .footer-logo {
    width: 106px;
    height: 69px;
    height: auto;
    margin: 0 auto;
  }
  .i {
    width: auto;
  }
}
