/* Mobile styles */
@media (max-width: 768px) {
  .section2 {
    height: 600px;
    padding: 55px 25px;
  }

  .contennt h1 {
    font-size: 42px;
  }

  .contennt p {
    width: 380px;
  }

  .svg-icon2 {
    width: 122px;
    height: 122px;
  }
}
